body {
  background-color: #000;
}

main {
  height: 100%;
}

.hidden {
  display: none;
}

.video-row {
  position: absolute;
  width: 100%;
  overflow: hidden;
  left: 0;
}

.video-row-inner {
}

.video-row .player-wrapper {
  width: 25%;
  float: left;
}

.video-row video {
  width: 100%;
}


.controls {
  clear: both;
  text-align: center;
}
